#!/usr/bin/php
<?php

use Hnk\ConsoleApplicationBundle\Command;
use Hnk\ConsoleApplicationBundle\SymfonyCommand;
use Hnk\ConsoleApplicationBundle\SymfonyProject;

require_once __DIR__ . '/bootstrap.php';

// main application definition
$mainApp = new Command('ConsoleApplication');

// define your commands here

$mainApp->run();
