#!/usr/bin/php
<?php

use Hnk\ConsoleApplicationBundle\Application;
use Hnk\ConsoleApplicationBundle\SymfonyApplication;
use Hnk\ConsoleApplicationBundle\SymfonyProject;

require_once __DIR__ . '/bootstrap.php';

// main application definition
$mainApp = new Application('ConsoleApplication');

// define your commands here

$mainApp->run();
