#!/usr/bin/php
<?php

use Hnk\ConsoleApplicationBundle\App;

require_once __DIR__ . '/bootstrap.php';

// main application definition
$mainApp = new App('ConsoleApplication');

// define your commands here

$mainApp->run();
